<% layout("./layouts/boilerplate.ejs") %>
<%- include('../includes/filters.ejs') %>
<body>
    <div class="row p-4">
    <% for( let listing of allListings ) { %>
    <div class="card listing-card" style="width: 100%">
      <a href="listings/<%= listing._id %>">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="Listing-image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <div class="card-text">
            <p class="para1"><%= listing.title %></p>
            </a>
            <p class="para2 totalPriceWithTax">
              &#36; <%= listing.totalPriceWithTax.toLocaleString("en-US") %> night (inc 18% GST)
            </p>
            <p class="para2 price hide">
              &#36; <%= listing.price.toLocaleString("en-US") %> night
            </p>
          </div>
        </div>
    </div>
    <% } %>
  </div>
</body>
<script>
  let allListings = <%- JSON.stringify(allListings)%>
</script>