<% layout("./layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-10 col-md-8">
      <h3 class="mt-3 mb-3"><%= listing.title %></h3>
      <div class="card listing-card">
        <img
          src="<%= listing.image %>"
          class="card-img-top"
          alt="listing-image"
        />
        <div class="card-body">
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text"><i>host:</i> <%= listing.owner.username %></p>
          <p class="card-text">
            &#36; <%= listing.price.toLocaleString("en-US") %>
          </p>
          <p class="card-text"><%= listing.location %></p>
          <p class="card-text"><%= listing.country %></p>
        </div>
      </div>
      <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
      <a
        class="btn btn-dark edit-btn mb-4"
        href="/listings/<%= listing._id %>/edit"
        >Edit</a
      >
      <form
        class="del-form"
        method="post"
        action="/listings/<%= listing._id %>?_method=DELETE"
      >
        <button class="btn btn-dark mb-4">Delete</button>
      </form>
      <% } %> <% if (currUser) { %>
      <hr />
      <form
        class="needs-validation"
        novalidate
        method="post"
        action="/listings/<%= listing._id %>/reviews"
      >
        <div class="mt-3 mb-3">
          <label for="rating" class="form-label">Rate Us</label>
          <select class="form-select" name="review[rating]" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option selected value="5">5</option>
          </select>
        </div>
        <div class="mt-3 mb-3">
          <label for="comment" class="form-label">Add a review</label>
          <textarea
            rows="8"
            name="review[comment]"
            id="comment"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Feedback looks Good!</div>
          <div class="invalid-feedback">Please enter a valid Feedback</div>
        </div>
        <button class="btn btn-outline-primary mb-3">Submit</button>
      </form>
      <% } %> <% if (listing.reviews && listing.reviews.length) { %>
      <hr />
      <h1 class="all-reviews">All Reviews</h1>
      <% } %>

      <div class="row">
        <% for(review of listing.reviews) { %>
        <div class="card col mb-3">
          <div class="card-body">
            <div class="card-title"><%= review.createdby.username %></div>
            <div class="card-text"><%= review.comment %></div>
            <div class="card-text"><%= review.rating %> Stars</div>
            <% if (currUser && review.createdby.equals(currUser._id)) { %>
            <form
              action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
              method="post"
            >
              <button class="mt-3 mb-3 btn btn-sm btn-dark">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
